*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

header{
    background-image:url(image/Background\ photo.jpg);
    height: 80vh;
    width: 100%;
    background-size: cover;
    position: relative;
}

header .box{
     height: 80vh;
     width: 100%;
     background-color: black;
     opacity: 0.7;
     position: absolute;
     z-index: 1;
}

nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 80vw;
    margin: 0px 100px 0px 100px;
    height: 30px;
    /* background-color: blue; */
    top: 20px;
    z-index: 10;
}

nav img{
    z-index: 10;
}

.language-select{
    position: relative;
    display: inline-flex;
    top: 10px;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(23,23,23,0.5 );
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 19px 10px 14px;
}

.language-select select option{
    background-color:white;
    color: black;
}

select{
    background-color: rgba(23,23,23,0.5 );
    color: white;
    border: none;
    font-size: 1.2rem;
}

.btn{
    padding: 3px 15px;
    background-color: rgba(25,25,25,0.5);
    color: white;
    border: 4px;
    font-size: larger;
    font-weight: 500;
}

.btn-sign{
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 9px 14px;
    /* font-size: larger; */
    font-weight: bold;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 10;
    position: relative;
    flex-direction: column;
    max-width: 38vw;
    height: 100%;
    margin: auto;
    gap: 10px;
}
.content>:nth-child(1){
    font-size: 50px;
    font-weight: 900px;
    text-align: center;
    margin: 0px 0px 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.content>:nth-child(2){
    text-align: center;
    margin: 0px 0px 10px;
    font-weight: bolder;
    font-size: 25px;
}

.content>:nth-child(3){
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0px 0px 10px;
}

.search{
    display: flex;
    gap: 2px;

}

.btn-start{
    background-color: red;
    color: white;
    padding: 12px 30px 12px 16px;
    border: 4px;
    text-align: left;
    font-size: 25px;
}

.content input{
    padding: 5px 60px 8px 16px;
    border-radius: 4px;
    color: white;
    background-color: rgba(25,25,25,0.5);
}

.curved-section{
    position: relative;
    height: 50px;
    background: radial-gradient(ellipse at top,#0a0f2c 0%,#000 70%);
    overflow: hidden;
}

.curved-section::before{
    position: absolute;
    background: radial-gradient(ellipse at top,rgba(255, 0, 76, 1) 0%,
    rgba(255, 0, 76, 0.8) 40%),
    rgba(255, 0, 76, 0.1) 100%;
    height: 5px;
    content: "";
    top: 10px;
    left: 0;
    right: 0;
    border-radius: 50% 0 0 / 100% 100% 0 0;

}

.container{
    /* background-color: purple; */
    height: 350px;
    max-width: 1150px;
    width: 100%;
    margin-top: 30px;
    margin-left: 12vw;
    margin-right: 12vw ;
}
.section-title{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 25px;
    color: white;
}

.slider{
    display: flex;
    gap: 20px;
    overflow-x: auto ;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.slider::-webkit-scrollbar{
    display: none;
}

.card{
    position: relative;
    flex: 0 0 auto;
    width: 200px;
    height:280px;
    scroll-snap-align: start;
    border-radius: 8px;
    overflow: visible;
    padding: 15px 10px;
    transition: transform 0.3s ease, box-shadow ease;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.card:hover{
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 0px 10px 20px rgba(255,255,255,0.2) ;
}

.number{
    position: absolute;
    bottom: 15px;
    left: -15px;
    font-size:75px;
    color: black;
    -webkit-text-stroke: 2px white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.container2{
    height: 380px;
    width: 75vw;
    margin-top: 30px;
    margin-left: 12vw;
    margin-right: 12vw ;
    overflow: hidden;
}

.section{
    display: flex;
    gap: 10px;
    height: 350px;
    width: 75vw;
}

.card2{
    height: 325px;
    width: 40vw;
    flex: 10px 10px 10px 10px;
    background: linear-gradient(180deg, #1e1e3f 50%,#220222 100%);
    border-radius: 20px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card2 h3{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 1.3rem;
}

.card2 p{
    color: rgba(255,255,255,0.7);
}

.smallimg{
    position: relative;
    left: 100px;
    top: 20px;
}

.container3{
    margin-top: 30px;
    margin-left: 12vw;
    margin-right: 12vw;
    height: 600px;
    width: 75vw;
}

.questionbox{
    background-color: #2d2d2d;
    width: 75vw;
    margin: 5px auto;
}

.faq{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 22px;
    font-weight: 400;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.questionbox:hover{
    background-color: #4d4d4d;
}

.content2{
    width: 80vw;
    margin-left: 10vw;
    margin-top: 10px;
}

.content2 p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px  0px 18px;
}

.content2 .search{
    display: flex;
    gap: 5px;
    justify-content: center;    
}

#search input{
    padding: 20px 350px 20px 10px;
    font-size:  1.5rem;
    background-color: rgba(23,23,23,0.5);
    border: 1px solid gray;
    border-radius: 5px;
    color: white;

}

#search .btn-start{
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 6px 35px 6px 20px;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 70px;
    margin-left: 12vw;
    margin-right: 12vw;
    height: 600px;
    width: 75vw;
}

.call{
    color: rgba(255,255,255,0.7);
    margin-bottom: 20px;
}

.call a{
    color: rgba(255,255,255,0.7);   
}

.foot-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.foot{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.foot a{
    color: rgba(255,255,255,0.7); 
    padding-top: 20px;
}

footer p{
    color: rgba(255,255,255,0.7);
    padding-top: 30px;
}

#para{
    font-size: 0.8rem;
    padding-top: 50px;
}

#para a{
    color: rgb(68,142,244);
}

#btn{
    margin: 50px;
}